.vuefinder .vuefinder__explorer__item-thumbnail {
  @apply h-10 md:h-12 m-auto;
}

.vuefinder .vuefinder__explorer__item-extension {
  @apply absolute hidden md:block top-1/2 w-full text-center text-neutral-500;
}

.vf-explorer-selected {
  @apply bg-neutral-100 border border-neutral-300 dark:bg-slate-700 dark:border-gray-900 dark:border-slate-800 #{!important};
}

.vf-item-list {
  @apply grid grid-cols-1 border hover:bg-neutral-50 dark:hover:bg-gray-700 border-transparent my-0.5 w-full select-none;
}

.vf-item-grid {
  @apply border border-transparent hover:bg-neutral-50 m-1 dark:hover:bg-gray-700 inline-flex w-[5.5rem] h-20 md:w-24 text-center justify-center select-none;
}

.vf-explorer-scrollbar-container {
  top: 33px;
  height: calc(100% - 33px);
  @apply z-[10] absolute right-0 pointer-events-none;

  &.grid-view:not(.search-active) {
    top: 0;
    height: calc(100%);
  }
}

@media (max-width: 640px) {
  .vf-explorer-scrollbar-container {
    top: 33px;
    height: calc(100% - 33px);

    &.grid-view:not(.search-active) {
      top: 0;
      height: calc(100%);
    }
  }
}
